pre {
  font-size: 1rem;
}

.navbar {
  background-color: #6b2575;
}

.panel-footer {
  background-color: #6b2575;
  border-color: #337ab7;
  color: #ffffff;
}

#home-section {
  background: url("/img/song-book-cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 500px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  background-color: rgba(0, 0, 0, 0.6);
}

.search-text-background {
  background-color: #0f0f0f8f;
}

/* .navbar-img {
  background: url("/img/fcm-weblogo.png" );
  height: 60px;
} */

#home-section .home-inner {
  padding-top: 460px;
}

img.logo-navbar {
  width: 2.5rem !important;
  height: 2.5rem !important;
}

.songSelect:hover {
  cursor: pointer;
}

.searchInput {
  max-width: 100%;
}

.btn-back {
  border-radius: 10%;
  font-weight: bold;
}

.title-color {
  color: #866c86;
}

.logo-text-cap {
  font-weight: bold;
  font-size: 25px;
  color: #df8257;
}
